// ~~~~~~~~~~SECTION 1~~~~~~~~~~

$section_1_color : #FFF;
$heading_font : Montserrat;
$body_font: Open Sans;
$button_height: 44px;
$button_width: 150px;
$section_4_module_text_width: 200px;
$section_4_module_margin_left: 0.5em;

#section_1{
	background-color: #FF6D59;
	width: 100%;
	overflow: auto;
	text-align: center;

	#appily_text{
		float: left;
		margin-left: 6em;
		color: $section_1_color;
	}

	#navbar ul{
		list-style-type: none;
		float: right;
		margin-right: 4em;
	}

	#navbar ul li{
		color: $section_1_color;
		display: inline-block;
		padding-right: 1em;
		font-family: $heading_font;
		font-size: 15px;
	}

	.dropdown_menu{
		position: absolute;
		float: none;
		display: none;
		background-color: white;

	}

	.dropdown_menu li{
		color: #FF6D59 !important;
	}

	#navbar ul li ul li{
		display: block;
		margin-right: 2em;
	}

	#appily_text{
		font-family: $heading_font;
		font-size: 26px;
		margin-top: -0.5em;

	}

	#section_1_content{
		text-align: center;
		padding-right: 9em;
		display: inline-block;
	}

	#iphone_image{
		content: url('assets/iphone_image.png');
		height: 470px;
		width: 360px;
		margin-top: 4em;
		float: left;
	}

	#content_text_area{
		float: left;
		margin-left: 6em;
		padding-top: 8em;
		text-align: left;
	}

	#content_text_header{
		color: $section_1_color;
		font-family: $heading_font;
		font-size: 44px;
		margin: 0 0 4px 0;
	}

	.content_text_body{
		color: $section_1_color;
		font-family: $body_font;
		font-size: 16px;
		margin: 0 0 5px 0;
	}

	#read_more_button{
		color: white;
		border: white;
		border-style: solid;
		border-width: 2px;
		background-color: #FF6D59;
		margin-top: 2em;
		width: $button_width;
		height: $button_height;
		border-radius: 4px;
		font-size: 16px;
	}
}

#section_2{

	text-align: center;
	padding-top: 6em;
	padding-bottom: 6em;

	#section_2_text_and_button{
		margin: 0 auto;
		float: none;
		display: inline-block;
	}

	#section_2_text{
		float: left;
		font-family: $heading_font;
		margin-right: 1em;
		padding-bottom: 1em;
		font-size: 18px;
	}

	#buy_it_now_button{
		float: left;
		color: white;
		border: white;
		background-color: #FF6D59;
		width: $button_width;
		height: $button_height;
		border-radius: 4px;
		font-size: 16px;
		font-family: $heading_font;
		margin-top: 5px;
	}
}

#section_3{
	text-align: center;
	padding-bottom: 7em;
	padding-top: 3em;
	background-color: #F5F5F5;

	#section_3_row_1,
	#section_3_row_2{
		display: inline-block;
		margin: 0 auto;
		float: none;
		padding-top: 3em;
	}

	.section_3_icon{
		content: url('assets/section_3_thumbnail.png');
		height: 60px;
		width: 60px;
		float: left;
		margin-bottom: 2em;
	}

	.section_3_header{
		float: left;
		margin-left: 8px;
		font-size: 18px;
		font-family: $heading_font;
		margin-top: 18px;
		font-weight: bold;
	}

	.section_3_text{
		margin-left: 5em;
		width: 240px;
		text-align: left;
		font-family: $body_font;
		font-size: 13px;
		line-height: 24px;
		padding-top: 4em;
		clear: right;
	}

	.section_3_module{
		float: left;
		padding-right: 1em;
	}
}

#section_4{
	text-align: center;
	padding-bottom: 2em;
	padding-top: 6em;

	#latest_news{
		width: 120px;
		height: 20px;
		display: inline-block;
		float: none !important;
		border-bottom: 2px solid #E1E1E1;
		padding-bottom: 1.2em;
		margin-right: 1em;
	}

	#latest_news_text{
		font-size: 16px;
		font-weight: bold;
		font-family: $heading_font;
		font-weight: bolder;
	}

	#section_4_row_1{
		height: 340px;
	}

	#section_4_row_1, 
	#section_4_row_2{
		text-align: center;
		margin-top: 2em;
	}

	#section_4_row_2{
		padding-right: 2.3em;
	}

	#double_wide_image{
		content: url('assets/section_4_big.png');
		width: 460px;
		height: 340px;
		display: inline-block;
		border-radius: 8px;

	}

	.section_4_module{
		display: inline-block;
		border-width: 2px;
		height: 340px;
		border-style: solid;
		border-radius: 8px;
		border-color: #F3F3F3;
		margin-left: 2em;
	}

	.top{
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);

	}

	.section_4_module_icon{
		content: url('assets/section_4_module_icon.png');
		height: 180px;
		width: 210px;
	}

	.section_4_module_text{
		text-align: left;
		width: $section_4_module_text_width;
	}

	.text_1{
		color: #C0C0C0;
		margin-top: 0.8em;
		margin-left: $section_4_module_margin_left;
		font-family: $body_font;
		font-size: 12px;
	}

	.text_2{
		font-family: $heading_font;
		font-weight: bolder;
		font-size: 16px;
		margin-left: 0.3em;
	}

	.text_3{
		font-family: $body_font;
		font-size: 12px;
		line-height: 18px;
		margin-left: $section_4_module_margin_left;
	}

	.text_4{
		font-family: $body_font;
		font-size: 12px;
		font-style: italic;
		margin-left: $section_4_module_margin_left;
		font-weight: bold !important;
		margin-bottom: 0.5em;
	}
}








