// ~~~~~~~~~~SECTION 1~~~~~~~~~~

$section_1_color : #FFF;
$heading_font : Montserrat;
$body_font: Open Sans;
$button_height: 44px;

#section_1{
	background-color: #FF6D59;
	width: 100%;
	overflow: auto;

	#appily_text{
		float: left;
		margin-left: 6em;
		color: $section_1_color;
	}

	#top_nav{
		// overflow: hidden;
	}

	#navbar ul{
		list-style-type: none;
		float: right;
		margin-right: 4em;
		margin-top: 1.5em;
	}

	#navbar ul li{
		color: $section_1_color;
		display: inline;
		padding-right: 1em;
		font-family: $heading_font;
		font-size: 15px;
	}

	#appily_text{
		font-family: $heading_font;
		font-size: 26px;
		margin-top: -0.5em;

	}

	#section_1_content{
		text-align: center;
		padding-right: 5em;
	}

	#content_body{
		margin: 0 auto;
		float: none;
		display: inline-block;
	}

	#iphone_image{
		content: url('assets/iphone_image.png');
		height: 470px;
		width: 360px;
		margin-top: 2em;
		margin-left: -8em;
		float: left;
	}

	#content_text_area{
		float: left;
		margin-left: 6em;
		padding-top: 4em;
		text-align: left;
	}

	#content_text_header{
		color: $section_1_color;
		font-family: $heading_font;
		font-size: 44px;
		margin: 0 0 4px 0;
	}

	.content_text_body{
		color: $section_1_color;
		font-family: $body_font;
		font-size: 16px;
		margin: 0 0 5px 0;
	}

	#read_more_button{
		color: white;
		border: white;
		border-style: solid;
		border-width: 2px;
		background-color: #FF6D59;
		margin-top: 2em;
		width: 150px;
		height: 50px;
		border-radius: 4px;
		font-size: 16px;
	}
}

#section_2{

	text-align: center;

	#section_2_text_and_button{
		// margin: 0 auto;
		// float: none;
		// padding-left: 8em;
	}

	#section_2_text{
		float: left;
	}

	#buy_it_now_button{
		float: left;
		color: white;
		border: white;
		background-color: #FF6D59;
		margin-top: 2em;
		width: 150px;
		height: $button_height;
		border-radius: 4px;
		font-size: 16px;
	}
}
