#section_1 {
  background-color: #FF6D59;
  width: 100%;
  overflow: auto;
  text-align: center; }
  #section_1 #appily_text {
    float: left;
    margin-left: 6em;
    color: #FFF; }
  #section_1 #navbar ul {
    list-style-type: none;
    float: right;
    margin-right: 4em; }
  #section_1 #navbar ul li {
    color: #FFF;
    display: inline-block;
    padding-right: 1em;
    font-family: Montserrat;
    font-size: 15px; }
  #section_1 .dropdown_menu {
    position: absolute;
    float: none;
    display: none;
    background-color: white;
    border-radius: 8px; }
  #section_1 .dropdown_menu li {
    color: #FF6D59 !important; }
  #section_1 #navbar ul li ul li {
    display: block;
    margin-right: 2em; }
  #section_1 #appily_text {
    font-family: Montserrat;
    font-size: 26px;
    margin-top: -0.5em; }
  #section_1 #section_1_content {
    text-align: center;
    padding-right: 9em;
    display: inline-block;
    float: left; }
  #section_1 #iphone_image {
    content: url("assets/iphone_image.png");
    height: 470px;
    width: 360px;
    margin-top: 4em;
    float: left; }
  #section_1 #content_text_area {
    float: left;
    margin-left: 6em;
    padding-top: 6em;
    text-align: left; }
  #section_1 #content_text_header {
    color: #FFF;
    font-family: Montserrat;
    font-size: 44px;
    margin: 0 0 4px 0; }
  #section_1 .content_text_body {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    margin: 0 0 5px 0; }
  #section_1 #read_more_button {
    color: white;
    border: white;
    border-style: solid;
    border-width: 2px;
    background-color: #FF6D59;
    margin-top: 2em;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    font-size: 16px; }
  #section_1 #read_more_button:hover {
    color: white;
    border: white;
    border-style: solid;
    border-width: 4px;
    background-color: #B34646;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    left: -10px;
    right: 10px;
    width: 200px;
    height: 64px; }

@media (max-width: 1250px) {
  #section_1 {
    position: relative;
    padding-bottom: 4em; }
    #section_1 #content_text_area {
      float: right;
      margin: 8em 0 0 2em;
      padding: 0; }
    #section_1 #iphone_image {
      position: absolute;
      bottom: 0px;
      left: 40px;
      width: 200px;
      height: 260px;
      padding-left: 4em; }
    #section_1 #section_1_content {
      margin-top: -6em;
      float: none; } }
@media (max-width: 1000px) {
  #section_1 #iphone_image {
    position: absolute;
    bottom: 0px;
    left: 40px;
    width: 180px;
    height: 250px; } }
@media (max-width: 700px) {
  #section_1 #navbar #navbar_menu_items {
    float: left; } }
@media (min-width: 850px) and (max-width: 1000px) {
  #section_1 {
    position: relative;
    padding-bottom: 4em; }
    #section_1 #content_text_area {
      float: right;
      margin: 8em 0 0 12em;
      padding: 0; }
    #section_1 #iphone_image {
      position: absolute;
      margin: 0;
      bottom: 0px;
      left: 40px;
      width: 180px;
      height: 250px;
      padding-left: 1.4em;
      padding-right: 1em; }
    #section_1 #top_nav {
      margin-bottom: -5em; }
    #section_1 #section_1_content {
      margin-top: -6em;
      margin-left: 2em; } }
@media (max-width: 810px) {
  #section_1 #iphone_image {
    display: none; }
  #section_1 #appily_text {
    margin-left: 3em; } }
@media (min-width: 0px) and (max-width: 450px) {
  #section_1 #navbar ul {
    float: left;
    clear: both;
    text-align: left; }
  #section_1 #navbar ul li {
    margin-top: 5px; }
  #section_1 #section_1_content {
    margin-top: -6em; } }
#section_2 {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em; }
  #section_2 #section_2_text_and_button {
    margin: 0 auto;
    float: none;
    display: inline-block; }
  #section_2 #section_2_text {
    float: left;
    font-family: Montserrat;
    margin-right: 1em;
    padding-bottom: 1em;
    font-size: 18px; }
  #section_2 #buy_it_now_button {
    float: left;
    color: white;
    border: white;
    background-color: #FF6D59;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    font-size: 16px;
    font-family: Montserrat;
    margin-top: 5px; }

@media (max-width: 810px) {
  #section_2 #section_2_text,
  #section_2 #buy_it_now_button {
    float: none;
    text-align: center; } }
#section_3 {
  text-align: center;
  padding-bottom: 7em;
  padding-top: 3em;
  background-color: #F5F5F5; }
  #section_3 #section_3_row_1,
  #section_3 #section_3_row_2 {
    display: inline-block;
    margin: 0 auto;
    float: none;
    padding-top: 3em; }
  #section_3 .section_3_icon {
    content: url("assets/section_3_thumbnail.png");
    height: 60px;
    width: 60px;
    float: left;
    margin-bottom: 2em; }
  #section_3 .section_3_header {
    float: left;
    margin-left: 8px;
    font-size: 18px;
    font-family: Montserrat;
    margin-top: 18px;
    font-weight: bold; }
  #section_3 .section_3_text {
    margin-left: 5em;
    width: 240px;
    text-align: left;
    font-family: Open Sans;
    font-size: 13px;
    line-height: 24px;
    padding-top: 4em;
    clear: right; }
  #section_3 .section_3_module {
    float: left;
    padding-right: 1em; }

@media (min-width: 0px) and (max-width: 450px) {
  #section_3 .section_3_icon {
    width: 40px;
    height: 40px;
    margin-top: 10px; } }
@media (min-width: 0px) and (max-width: 1000px) {
  #section_3 .section_3_module {
    float: none;
    margin-top: 1em; }
  #section_3 #section_3_row_2 {
    padding: 0; } }
#section_4 {
  text-align: center;
  padding-bottom: 2em;
  padding-top: 6em; }
  #section_4 .left_half, #section_4 .right_half {
    display: inline-block;
    margin: 0 auto;
    padding: none; }
  #section_4 .double_wide_image {
    content: url("assets/section_4_big.png");
    width: 460px;
    height: 335px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 2em;
    margin-right: 2em; }
  #section_4 .mod_4 {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #F3F3F3;
    margin-right: 2em; }
  #section_4 .top_right {
    margin-bottom: 2em; }
  #section_4 .column {
    float: left;
    display: inline-block; }
  #section_4 .left_bottom {
    float: left;
    display: inline-block; }
  #section_4 #left_half {
    display: inline-block;
    margin: 0; }
  #section_4 #right_half {
    display: inline-block;
    margin: 0 auto; }
  #section_4 #latest_news {
    width: 120px;
    height: 20px;
    display: inline-block;
    float: none !important;
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 1.2em;
    margin-right: 1em; }
  #section_4 #latest_news_text {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    font-weight: bolder; }
  #section_4 #division {
    margin-bottom: 5em; }
  #section_4 #section_4_row_1 {
    height: 340px; }
  #section_4 #section_4_row_1 {
    margin-top: 4em; }
  #section_4 #section_4_row_2 {
    text-align: center;
    padding-right: 2em;
    margin-top: 2em; }
  #section_4 #double_wide_image {
    content: url("assets/section_4_big.png");
    width: 460px;
    height: 335px;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box; }
  #section_4 .section_4_module {
    display: inline-block;
    height: 340px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #F3F3F3;
    margin-left: 2em; }
  #section_4 .section_4_module_icon {
    content: url("assets/section_4_module_icon.png");
    -moz-border-radius: 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px; }
  #section_4 .section_4_module_text {
    text-align: left;
    width: 200px; }
  #section_4 .text_1 {
    color: #C0C0C0;
    margin-top: 0.8em;
    margin-left: 0.5em;
    font-family: Open Sans;
    font-size: 12px; }
  #section_4 .text_2 {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 0.3em; }
  #section_4 .text_3 {
    font-family: Open Sans;
    font-size: 12px;
    line-height: 18px;
    margin-left: 0.5em; }
  #section_4 .text_4 {
    font-family: Open Sans;
    font-size: 12px;
    font-style: italic;
    margin-left: 0.5em;
    font-weight: bold !important;
    margin-bottom: 0.5em; }

@media (max-width: 1000px) {
  #section_4 {
    text-align: center; }
    #section_4 #section_4_row_1 {
      height: 180px; }
    #section_4 #double_wide_image {
      width: 280px;
      height: 190px; }
    #section_4 .section_4_module {
      width: 120px;
      height: 180px;
      padding-bottom: 10px; }
      #section_4 .section_4_module .section_4_module_icon {
        width: 120px; }
      #section_4 .section_4_module .section_4_module_text {
        width: 100px; }
    #section_4 .top {
      width: 120px;
      height: 180px;
      padding-bottom: 10px; }
      #section_4 .top .section_4_module_icon {
        width: 120px; }
      #section_4 .top .section_4_module_text {
        width: 100px; }
    #section_4 #section_4_row_2 {
      margin-top: 40px; }
    #section_4 .text_1, #section_4 .text_2, #section_4 .text_3, #section_4 .text_4 {
      font-size: 8px;
      line-height: 10px; } }
@media (min-width: 0px) and (max-width: 700px) {
  #section_4 {
    text-align: center; }
    #section_4 #section_4_row_1 {
      height: 180px; }
    #section_4 #double_wide_image {
      width: 265px;
      height: 190px; }
    #section_4 .section_4_module {
      width: 120px;
      height: 180px;
      padding-bottom: 10px;
      margin-right: 14px;
      margin-left: 0; }
      #section_4 .section_4_module .section_4_module_icon {
        width: 120px; }
      #section_4 .section_4_module .section_4_module_text {
        width: 100px; }
    #section_4 .last {
      margin-top: 14px; }
    #section_4 .top {
      width: 120px;
      height: 180px;
      padding-bottom: 10px; }
      #section_4 .top .section_4_module_icon {
        width: 120px; }
      #section_4 .top .section_4_module_text {
        width: 100px; }
    #section_4 .top_1 {
      margin-left: 14px; }
    #section_4 #section_4_row_2 {
      margin-top: 40px;
      padding: 0; }
    #section_4 .text_1, #section_4 .text_2, #section_4 .text_3, #section_4 .text_4 {
      font-size: 8px;
      line-height: 10px; } }
@media (min-width: 0px) and (max-width: 580px) {
  #section_4 .top {
    display: none; } }
@media (min-width: 0px) and (max-width: 321px) {
  #section_4 #double_wide_image {
    margin-right: 10px; } }
.back_to_top {
  height: 45px;
  width: 90px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: #FF6D59;
  margin: 0 auto;
  float: right;
  display: inline-block;
  margin-left: -3.5em;
  cursor: pointer;
  bottom: 0em; }

/*# sourceMappingURL=styles.css.map */
