#section_1 {
  background-color: #FF6D59;
  width: 100%;
  overflow: auto; }
  #section_1 #appily_text {
    float: left;
    margin-left: 6em;
    color: #FFF; }
  #section_1 #navbar ul {
    list-style-type: none;
    float: right;
    margin-right: 4em;
    margin-top: 1.5em; }
  #section_1 #navbar ul li {
    color: #FFF;
    display: inline;
    padding-right: 1em;
    font-family: Montserrat;
    font-size: 15px; }
  #section_1 #appily_text {
    font-family: Montserrat;
    font-size: 26px;
    margin-top: -0.5em; }
  #section_1 #section_1_content {
    text-align: center;
    padding-right: 5em; }
  #section_1 #content_body {
    margin: 0 auto;
    float: none;
    display: inline-block; }
  #section_1 #iphone_image {
    content: url("assets/iphone_image.png");
    height: 470px;
    width: 360px;
    margin-top: 2em;
    margin-left: -8em;
    float: left; }
  #section_1 #content_text_area {
    float: left;
    margin-left: 6em;
    padding-top: 4em;
    text-align: left; }
  #section_1 #content_text_header {
    color: #FFF;
    font-family: Montserrat;
    font-size: 44px;
    margin: 0 0 4px 0; }
  #section_1 .content_text_body {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    margin: 0 0 5px 0; }
  #section_1 #read_more_button {
    color: white;
    border: white;
    border-style: solid;
    border-width: 2px;
    background-color: #FF6D59;
    margin-top: 2em;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    font-size: 16px; }

#section_2 {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em; }
  #section_2 #section_2_text_and_button {
    margin: 0 auto;
    float: none;
    display: inline-block; }
  #section_2 #section_2_text {
    float: left;
    font-family: Montserrat;
    margin-right: 1em;
    padding-bottom: 1em; }
  #section_2 #buy_it_now_button {
    float: left;
    color: white;
    border: white;
    background-color: #FF6D59;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    font-size: 16px; }

#section_3 {
  text-align: center;
  padding-bottom: 7em;
  padding-top: 3em;
  background-color: #F5F5F5; }
  #section_3 #section_3_row_1,
  #section_3 #section_3_row_2 {
    display: inline-block;
    margin: 0 auto;
    float: none;
    padding-top: 3em; }
  #section_3 .section_3_icon {
    content: url("assets/section_3_thumbnail.png");
    height: 60px;
    width: 60px;
    float: left;
    margin-bottom: 2em; }
  #section_3 .section_3_header {
    float: left;
    margin-left: 8px;
    font-size: 18px;
    font-family: Montserrat;
    margin-top: 18px;
    font-weight: bold; }
  #section_3 .section_3_text {
    margin-left: 5em;
    width: 240px;
    text-align: left;
    font-family: Open Sans;
    font-size: 13px;
    line-height: 24px;
    padding-top: 4em;
    clear: right; }
  #section_3 .section_3_module {
    float: left;
    padding-right: 1em; }

#section_4 {
  text-align: center;
  padding-bottom: 6em;
  padding-top: 6em; }
  #section_4 #latest_news {
    width: 120px;
    height: 20px;
    display: inline-block;
    float: none !important;
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 1.2em;
    margin-right: 1em; }
  #section_4 #latest_news_text {
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    font-weight: bolder; }
  #section_4 #section_4_row_1 {
    text-align: center;
    margin-top: 2em; }
  #section_4 #double_wide_image {
    content: url("assets/section_4_big.png");
    width: 400px;
    height: 300px;
    clear: both;
    display: inline-block;
    float: none !important;
    border-radius: 8px; }

/*# sourceMappingURL=styles.css.map */
